.container-fluid
  .row-fluid
    .span12.text-center
      %h1 Thanks, you’re all set!
      %h4.mbxl We'll be in touch with relevant updates & opportunities.
      %p.mtxl
        Inner Circle is making it easier to connect with the companies you love.
        %br
        Questions? 
        = mail_to("getinnercircle@gmail.com")