.container-fluid
  .row-fluid
    .span8.text-center.column-center.mobile-padding
      %h1 Thanks, you’re all set!
      %h4.mbxl We'll be in touch with relevant updates & opportunities.
      %p.mtxl
        Not actively looking for work, but want to discover more great companies?
      =link_to "Check out other inspiring companies", root_url(subdomain:false), :class=>"btn btn-large"