- unless flash[:notice].blank?
  .alert.alert-success
    .container
      .col-md-8
        = raw flash[:notice]

- unless flash[:alert].blank?
  .alert.alert-error
    .container
      .col-md-8
        = raw flash[:alert]
