.col-md-6
  .inline-cta
    %h3 Help someone you know find a great job. Share JobCrush. 
    %nav.pbm
      = link_to(image_tag("fb_share.png", class:"inline-cta__fb-share__lg"), "http://www.facebook.com/sharer.php?u=http://jobcrush.co", target:"_blank", )
      = link_to(image_tag("tweet.png", class:"inline-cta__tweet__lg"), "http://twitter.com/home?status=Follow Daily Life at Exciting Companies! Find a job that fits your style or just stay “in the know” Check it out: http://jobcrush.co", target:"_blank", )
    = link_to("I already did. Hide this.", "#", class:"inline-cta__hide")
