/= link_to(image_tag("concert_window_logo_retina.png", id:"logo"), root_path)
.navbar.navbar-fixed-top
  .navbar-inner
    %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    .nav-collapse.collapse
      .container
        .row
          .span1
            .brand inner circle
          .span11
            %ul.nav
              %li.divider-vertical
                %h1 Talent
            %ul.nav.pull-right
              %li
              - if current_company
                %li
                  = link_to(capitalize_phrase(current_company.name), root_url)
              - if current_user
                %li
                  = link_to(capitalize_phrase(current_user.full_name), root_url)
                %li
                  = link_to "Log Out", logout_url
              - else
                %li
                  = link_to "Log In", login_url
