.fb-like{"data-href"=>url,"data-layout"=>"button_count","data-send"=>"false","data-width"=>"450","data-show-faces"=>"false","data-font"=>"segoe ui"}
.twitter-wrapper.mls
  %a.twitter-share-button#twitter-share-button{"href"=>"https://twitter.com/share","data-url"=>url}