.container
  .row
    .span12
      .text-center= image_tag("logo_small_gray.jpg")
      %hr.mbxl
      %h1.text-center
        Yes, your company does need a talent-community.
      %h4.text-center
        Inner Circle can help.
        = link_to "Sign up now", signup_url