- content_for :title do
  Discover and Follow Exciting Companies in Creative & Tech | JobCrush
- content_for :og_tags do
  %meta{property:"og:url", content:root_url(subdomain:false)}
  %meta{property:"og:image", content:URI.join(root_url, image_path('inner_circle_square.jpg'))}
  %meta{property:"og:title", content:"JobCrush"}
  %meta{property:"og:description", content:"Discover and Follow Exciting Companies in Creative & Tech"}
.container
  .row
    .hero
      .col-md-12
        %h1
          FOLLOW DAILY LIFE AT EXCITING COMPANIES
      .col-md-7.centered
        %h2
          JobCrush provides a unique look into a company’s culture. Use it to find work with a company that fits your style or just stay “in the know”.

      .col-md-6.centered.mtl
        .col-md-6= link_to("BROWSE COMPANIES", companies_url(subdomain:false), class:"btn btn-lg btn-block")
        .col-md-6= link_to("BROWSE JOBS", companies_url(subdomain:false), class:"btn btn-lg btn-block")
  .nav.navbar-fixed-bottom
    .container
      .col-md-12
        .photo_credit
          Photo:
          = link_to("General Assembly", root_url(subdomain:"generalassembly"))

