- content_for :title do
  inner circle - Capture top talent, whether or not they’re looking for a job
- content_for :og_tags do
  %meta{property:"og:url", content:root_url(subdomain:false)}
  %meta{property:"og:image", content:URI.join(root_url, image_path('inner_circle_square.jpg'))}
  %meta{property:"og:title", content:"inner circle"}
  %meta{property:"og:description", content:"Capture top talent, whether or not they’re looking for a job"}
%section.homepage-top.container
  .row-fluid
    .span12
      %h1
        Capture top talent, whether or not<br>they’re looking for a job
      %h2
        <b>inner circle</b> helps you get high-quality hires<br> by convincing passive talent to apply for your jobs
%section.homepage-how-we-do.container
  .row-fluid
    .span6.text-right.homepage-how-we-do--top-left
      %h3 Capture passive talent
      %p Capture the emails of talent who are interested<br> in your company but not ready to apply for a job
      =image_tag "homepage_how_we_do_arrows.png", class:"homepage-how-we-do__arrows"
    .span6.text-left.homepage-how-we-do--top-right
      %h3 Get leads from us
      %p 
        Get featured in our
        =link_to("independent newsletter", newsletter_path)
        %br
        to the NYC tech and creative talent community.
  .row-fluid
    .span12.text-center.homepage-how-we-do--bottom-center
      %h3 Convert 'em
      %p Stay on their radar with weekly jobs & culture emails.<br> So when they’re ready to switch jobs,<br> you’re there to hire them
%section.container.homepage-screenshots
  .row-fluid
    .span12
      %h2.text-center The best hires are rarely searching for work,<br> don’t let them slip away
  .row-fluid
    .span6.text-right.homepage-screenshots__feed-image
      =image_tag "homepage_screenshots_feed.png"
    .span6.text-left.homepage-screenshots__feed-captions
      .homepage-screenshots--first
        %h3 Nab their attention with your company's culture
        %p Embed an eye-catching company culture feed into your careers page. Give passive talent a reason to look around.
        =image_tag "homepage_screenshots_arrow1.png", class:"homepage-screenshots__arrow1"
      .homepage-screenshots--second
        %h3 Sign up the talent who usually leave wihtout applying
        %p Capture those who are interested in your company but might not be looking for a job now
        %p Think of all the people who don’t actively apply and you never hear from again!
        =image_tag "homepage_screenshots_arrow2.png", class:"homepage-screenshots__arrow2"
  .row-fluid
    .span12
      .homepage-screenshots--third.text-center
        %h3 Convert them to hires with jobs & culture emails
        %p Keep passive talent engaged with regular email updates - think of it as automated marketing.<br> We do the heavy lifting: gathering the photos, jobs, and updates that make up your emails.
        =image_tag "homepage_screenshots_devices.png", class:"homepage_screenshots__devices"