- content_for :title do
  inner circle - Market Your Way to Top Talent
- content_for :og_tags do
  %meta{property:"og:url", content:root_url(subdomain:false)}
  %meta{property:"og:image", content:URI.join(root_url, image_path('inner_circle_square.jpg'))}
  %meta{property:"og:title", content:"inner circle"}
  %meta{property:"og:description", content:"Market Your Way to Top Talent"}
%section.homepage-top
  .container
    .row-fluid
      .span12
        %h1
          Market your way to top talent<br />with <span class="accent-blue">inner circle</span>
        %h2
          We help you hire in two ways:
%section.homepage-how-we-do.container
  .row-fluid
    .span6.homepage-how-we-do-left-container
      .row-fluid
        .span12.homepage-how-we-do-left
          =image_tag("home_arrow1.png", class:"home_arrow1")
          %h3 Build a talent community for your company
          %ul
            %li We capture passive talent who love your company but aren't looking for a job now
            %li We harness your followers and current and past employees to build a high-quality talent community
            %li We seed your community with relevant talent
    .span6.homepage-how-we-do-right-container
      .row-fluid
        .span12.homepage-how-we-do-right
          =image_tag("home_arrow2.png", class:"home_arrow2 hidden-phone")
          =image_tag("home_arrow3.png", class:"home_arrow3 visible-phone")
          %h3 Market your culture, jobs, and <br/ >company updates
          %ul
            %li We create custom content to keep your talent community engaged
            %li We help identify great candidates in your community and convert them into leads
%section.homepage-team-block.container-fluid
  .row-fluid
    .span8.column-center
      %h2 Meet the <span class="accent-blue">inner circle</span> team
      .row-fluid.headshots-container
        .span4.headshot
          =image_tag "elliott.jpg", class:"headshot-image"
          .headshot-name Elliott
        .span4.headshot
          =image_tag "kenny.jpg", class:"headshot-image"
          .headshot-name Kenny
        .span4.headshot
          =image_tag "patti.jpg", class:"headshot-image"
          .headshot-name Patti
%section.homepage-contact-block.container-fluid
  .row-fluid
    .span12
      %h2 Email or call us to learn how we can help
      .mtm
        =link_to "hello@getinnercircle.com", "mailto:hello@getinnercircle.com"
        %span.hidden-phone 
          |
        %span.hidden-phone 917.880.2147
        =link_to "917-880-2147", "tel:1-917-880-2147", :class=>"visible-phone"
        %span.hidden-phone
          |
        902 Broadway 4th Fl, New York, NY