.container-fluid
  .row-fluid
    .span12
      .text-center= image_tag("logo_small_gray.jpg")
      %hr.mbxl
      %h1.text-center
        Yes, your company does need a talent-community.
      .text-center
        %h2
          Inner Circle can help.
        %hr.mbxl
        = link_to("Sign Up Now", signup_url, class:"btn btn-large btn-primary")
        .mtl
          Already have an account?
          = link_to("Login", login_url, class:"")