.container-fluid
  .row-fluid
    .span12
      .text-center= image_tag("logo_small_gray.jpg")
      %hr.mbxl
      %h1.text-center
        Yes, your company does need a talent-community.
      .text-center
        %h3
          Use Inner Circle to keep in touch with the best people.
        %hr.mbxl
        = link_to("Sign Up Now", signup_url, class:"btn btn-large btn-primary")
        .mtl.mbxl
          Already have an account?
          = link_to("Login", login_url, class:"")
        .mtxl.mbxl &nbsp;
        .mtxl.mbxl &nbsp;
        %h5.mtxl.mbn
          Looking for opportunities at your favorite companies?
        Get in line for an invite 
        = link_to("here.", "http://yourfuture.getinnercircle.com/join")
