- content_for :title do
  Following | JobCrush

.container
  .col-md-8
    .photo-modal.modal{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
      .modal-dialog
        .modal-content
          .modal-body
          .modal-footer
            .logo.pull-left
    %ul#masonry
      = render("posts/published", posts:@posts)
    .loader
  .col-md-4
    %h4 Suggested companies to follow
