- content_for :title do
  Following | JobCrush

.container
  .col-md-8
    %ul#masonry
      = render("posts/published", posts:@posts)
    //#infinite= will_paginate @posts
  .col-md-4
    %h4 Suggested companies to follow
