#signup
  .container-fluid
    .row-fluid
      .span6.offset3.mobile-padding
        .form-horizontal
          .control-group
            %label.control-label
            .controls
              %h2= @company.name
  .container-fluid
    .row-fluid
      .span6.offset3.mobile-padding
        = render 'shared/company_form'