%h1 Create your account and company profile
= render 'form'
%h2 Inner Circle will help your company:
%ul
  %li Keep their hiring funnel filled
  %li Keep passive candidates in the loop
  %li Share company culture

