.container
  .row
    .span2
      inner circle
    .span10
      %h1 Create your account & company profile
%hr
.container
  .row
    .span2
      &nbsp
    .span5
      = render 'form'
    .span5
      %section
        %h4 Inner Circle will help your company:
        %ul
          %li Keep their hiring funnel filled
          %li Keep passive candidates in the loop
          %li Share company culture

