.container
  .row
    .span1
      &nbsp;
    .span11.mobile-padding
      %h1 Create your account & company profile
%hr.hidden-phone
.container
  .row
    .span1
      &nbsp
    .span5.well
      = render 'form'
    .span5.mobile-padding
      %section
        %h4 Inner Circle will help your company:
        %ul
          %li Keep their hiring funnel filled
          %li Keep passive candidates in the loop
          %li Share company culture
