.container
  .row-fluid
    .span12.column-center.mobile-padding.ptl.phl.text-center
      %h1.mtl
        Market your way to top talent
  .row-fluid
    .span9.column-center.mobile-padding.text-center
      %h4
        Find out how Inner Circle can help you build a community of high quality talent and convert them into the leads you need, now
  .row-fluid
    .span12.column-center.mobile-padding.text-center
      .company-signup-wrapper.mtxl
        = text_field_tag 'email', nil, placeholder:"email", class:"tar"
        .btn.mbm Sign up for beta