- posts.each do |post|
  %li{id:post.id, data:{"aspect-ratio"=>"#{post.aspect_ratio}"}}
    .photo
      = image_tag(url_for_cdn_image(post, post.photo_url(:large)), class:"photo-img")
      .post-info-bar.clearfix
        .pull-left= link_to(image_tag(post.company.logo_url(:medium), class:"company-logo-small"), post.company.website_url, target:"_blank")
        .date.pull-right= render('shared/pretty_publication_date', post:post)
