- posts.each do |post|
  %li{id:post.id, class:"photo-wrapper"}
    .photo
      = image_tag post.media_url
    /= "#{post.provider_publication_date.strftime("%b %d") if post.provider_publication_date} - "

