- posts.each do |post|
  %li{id:post.id}
    .photo
      -if !post.caption.blank?
        .photo-overlay
          %h4.photo-overlay-text= post.caption
      = image_tag post.photo_url(:large)
    /= "#{post.provider_publication_date.strftime("%b %d") if post.provider_publication_date} - "

