- posts.each do |post|
  %li{id:post.id}
    .photo
      .post-info-bar
        - case post.provider
        - when "facebook"
          .facebook_logo_gray.pull-left
        - when "instagram"
          .instagram_logo_gray.pull-left
        - when "tumblr"
          .tumblr_logo_gray.pull-left
        - when "foursquare"
          .foursquare_logo_gray.pull-left
        .date= render('shared/pretty_publication_date', post:post)
      -if !post.caption.blank?
        .photo-overlay
          %h4.photo-overlay-text= strip_tags(post.caption)
      = image_tag post.photo_url(:large)

