#post.container
  .row
    .span12.mobile-padding
      %h2 Show off what it’s like to work at #{capitalize_phrase(@company.name)}
      %h4 Publish 40 photos that best exemplify your company culture.
      %hr
      - @posts.each do |post|
        = link_to(post_url(post, subdomain: post.company.subdomain), method:"put", remote:true, id:post.id, class:"photo-wrapper pull-left") do
          .photo
            = image_tag post.media_url
          .cta Publish

