- content_for :title do
  inner circle - Don’t miss out on your dream job
- content_for :og_tags do
  %meta{property:"og:url", content:root_url(subdomain:false)}
  %meta{property:"og:image", content:"http://fbb10cc56329cb5ea057-4ca1418a7613371d048778718c3acae9.r81.cf1.rackcdn.com/inner_circle_logo.png"}
  %meta{property:"og:title", content:"inner circle"}
  %meta{property:"og:description", content:"Don’t miss out on your dream job"}
%section.newsletter-h1-section
  .container
    .row-fluid
      .span12.mobile-padding.text-center.pvxl
        %h1 We showcase exciting companies in creative & tech.
        %h3 Let us capture the passive talent who love your company
%section.newsletter-preview-section
  .container
    .row-fluid
      .span12#newsletter-preview
        .newsletter-preview-wrapper
          =image_tag("sample_newsletter.png", class:"preview-badge")
          
          :plain
            <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="margin:0;padding:0;min-height:100%!important;width:100%!important">
                      <tbody><tr>
                        <td align="center" valign="top" style="border-collapse:collapse">
                          <table border="0" cellpadding="0" cellspacing="0" width="600" style="border:1px solid #ededed;background-color:#ededed">
                            <tbody><tr>
                              <td align="center" valign="top" style="border-collapse:collapse;padding:15px">

                                
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="background:#ededed">
                                  <tbody><tr>
                                    <td valign="top" style="border-collapse:collapse;background-color:#ededed;font-size:15px;color:#333333;font-family:Arial;text-align:left">
                                      


                                      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#ffffff">
                                        <tbody><tr>
                                          <td valign="top" style="border-collapse:collapse">
                                            <table border="0" cellpadding="15" cellspacing="0" width="100%" style="background-color:#ffffff">
                                              <tbody><tr>
                                                <td style="border-collapse:collapse;border-bottom:1px solid #dedede">
                                                  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#ffffff">
                                                    <tbody><tr>
                                                      <td width="150" style="border-collapse:collapse;border-right:1px solid #dedede;padding-right:15px">
                                                        <a href="http://squarespace.com/careers" style="color:#0096ff;font-weight:normal;text-decoration:none!important" target="_blank"><img src="http://gallery.mailchimp.com/d4f0d06b354e24a967bc1aa7e/images/squarespace_email.png" alt="Logo" border="0" width="150" height="80"></a>
                                                      </td>
                                                      <td style="padding-left:15px;border-collapse:collapse">
                                                        <div style="color:#333333;display:block;font-family:Arial;font-size:20px;font-weight:bold;line-height:1.2;margin-bottom:5px;text-align:left;background-color:#ffffff">
                                                          Here's what's new at <span class="il">Squarespace</span>
                                                        </div>
                                                      </td>
                                                    </tr>
                                                  </tbody></table>
                                                </td>
                                              </tr>
                                              <tr style="font-size:0;max-height:0;line-height:0;padding:0;min-height:0;width:0;color:transparent">
                                                <td style="border-collapse:collapse;padding:0">
                                                  <div style="color:transparent;font-family:Arial;font-size:0;font-weight:bold;line-height:0;margin-bottom:10px;text-align:left;background-color:#ffffff;max-height:0;padding:0;min-height:0;width:0">
                                                    Here's what's new at <span class="il">Squarespace</span>
                                                  </div>
                                                </td>
                                              </tr>
                                              
                                              <tr>
                                                <td style="padding:15px;border-collapse:collapse">
                                                  <table cellspacing="0" cellpadding="0" border="0" align="left" style="background-color:#ffffff">
                                                    <tbody><tr>
                                                      <td style="border-collapse:collapse">
                                                        <a href="http://squarespace.getinnercircle.com/" style="color:#0096ff;font-weight:normal;text-decoration:none!important" target="_blank"><img src="http://gallery.mailchimp.com/d4f0d06b354e24a967bc1aa7e/images/large_5ad16e209ee511e2843f22000a9e0722_7.jpg" alt="See what it's like to work here!" border="0" width="534" height="534" style="margin-bottom:5px;"></a>
                                                        <a href="http://squarespace.getinnercircle.com/" style="color:#0096ff;font-weight:normal;text-decoration:none!important" target="_blank"><img src="http://gallery.mailchimp.com/d4f0d06b354e24a967bc1aa7e/images/large_1a3df43867cb11e28c8722000a1f90f9_7.jpg" alt="See what it's like to work here!" border="0" width="265" height="265" style="margin-bottom:5px;"></a>
                                                        <a href="http://squarespace.getinnercircle.com/" style="color:#0096ff;font-weight:normal;text-decoration:none!important" target="_blank"><img src="http://gallery.mailchimp.com/d4f0d06b354e24a967bc1aa7e/images/large_9224fbd0b97f11e2892122000a9f13f9_7.jpg" alt="See what it's like to work here!" border="0" width="265" height="265" style="margin-bottom:5px;"></a>
                                                        <a href="http://squarespace.getinnercircle.com/" style="color:#0096ff;font-weight:normal;text-decoration:none!important" target="_blank"><img src="http://gallery.mailchimp.com/d4f0d06b354e24a967bc1aa7e/images/1.jpg" alt="See what it's like to work here!" border="0" width="265" height="265" style="margin-bottom:5px;"></a>
                                                        <a href="http://squarespace.getinnercircle.com/" style="color:#0096ff;font-weight:normal;text-decoration:none!important" target="_blank"><img src="http://gallery.mailchimp.com/d4f0d06b354e24a967bc1aa7e/images/large_3c113a26ac3011e28e0922000a9f1335_7.1.jpg" alt="See what it's like to work here!" border="0" width="265" height="265" style="margin-bottom:5px;"></a>
                                                      </td>
                                                    </tr>
                                                  </tbody></table>
                                                </td>
                                              </tr>
                                              

                                            </tbody></table>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td style="padding:10px 0;border-collapse:collapse">
                                          </td>
                                        </tr>
                                      </tbody></table>

                                      

                                    </td>
                                  </tr>
                                </tbody></table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="background:#ededed">
                                  <tbody><tr>
                                    <td valign="top" style="border-collapse:collapse;background-color:#ededed;font-size:15px;color:#333333;font-family:Arial;text-align:left">
                                      

                                      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#ffffff">
                                        <tbody><tr>
                                          <td valign="top" style="border-collapse:collapse">
                                            
                                            <table border="0" cellpadding="15" cellspacing="0" width="100%" style="background-color:#ffffff">
                                              <tbody><tr>
                                                <td style="padding:10px 15px 5px 15px;border-bottom:1px solid #dedede;border-collapse:collapse" colspan="2">
                                                  <strong>A few select business &amp; operations opportunities: </strong>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td style="padding:5px 0 0 0;border-collapse:collapse" colspan="2">
                                                </td>
                                              </tr>
                                              <tr>
                                                <td style="border-collapse:collapse;padding:10px 15px!important">
                                                  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#ffffff">
                                                    <tbody><tr>
                                                      <td style="border-collapse:collapse;padding-bottom:2px!important"><a href="http://search.jobvite.com/web/modules/layout/jobDetail.htm?j=oqx8VfwK" style="text-decoration:none!important;line-height:1!important;color:#0096ff!important;font-weight:normal!important" target="_blank">Recruiter</a> </td>
                                                    </tr>
                                                    <tr>
                                                      <td style="border-collapse:collapse;color:#707070">We're looking for a talented recruiter to help us find the very best software engineering and design talent out there. If you combine a passion for technology, a desire to win, and outstanding recruitment skills, we offer the opportunity to work directly with senior-level management and top-flight product and engineering talent.</td>
                                                    </tr>
                                                  </tbody></table>
                                                </td>
                                              </tr><tr>
                                                <td style="border-collapse:collapse;padding:10px 15px!important">
                                                  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#ffffff">
                                                    <tbody><tr>
                                                      <td style="border-collapse:collapse;padding-bottom:2px!important"><a href="http://search.jobvite.com/web/modules/layout/jobDetail.htm?j=orEFXfwr" style="color:#0096ff!important;font-weight:normal!important;text-decoration:none!important;line-height:1!important" target="_blank">Growth Hacker</a> </td>
                                                    </tr>
                                                    <tr>
                                                      <td style="border-collapse:collapse;color:#707070">If you are looking for a buzzword-compliant job title, hello. But if you need a job description, you're in the wrong place. We're looking for someone who is passionate about helping small businesses succeed, and who lives at the intersection of data, product, and marketing.</td>
                                                    </tr>
                                                  </tbody></table>
                                                </td>
                                              </tr><tr>
                                                <td style="border-collapse:collapse;padding:10px 15px!important">
                                                  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#ffffff">
                                                    <tbody><tr>
                                                      <td style="border-collapse:collapse;padding-bottom:2px!important"><table border="0" cellpadding="0" cellspacing="0" style="background-color:#ffffff" width="100%">
              <tbody>
                <tr>
                  <td style="padding-bottom:10px;border-collapse:collapse">
                    <a href="http://search.jobvite.com/web/modules/layout/jobDetail.htm?j=ojDFXfwi" style="color:#0096ff!important;font-weight:normal!important;text-decoration:none!important;line-height:1!important" target="_blank">Direct Marketing Manager </a></td>
                </tr>
                <tr>
                  <td style="padding-bottom:10px;border-collapse:collapse">
                    <a href="http://search.jobvite.com/web/modules/layout/jobDetail.htm?j=ovhsXfwV" style="color:#0096ff!important;font-weight:normal!important;text-decoration:none!important;line-height:1!important" target="_blank">Copywriter</a></td>
                </tr>
              </tbody>
            </table>
            </td>
                                                    </tr>
                                                    <tr>
                                                      <td style="border-collapse:collapse;color:#707070"></td>
                                                    </tr>
                                                  </tbody></table>
                                                </td>
                                              </tr>



                                              
                                              <tr>
                                                <td style="padding:15px;border-collapse:collapse" colspan="2">
                                                  <div style="width:265px;background-color:#ffffff;margin:0 auto!important;float:none!important;display:block!important;border-radius:4px!important;background:#0096ff!important"><a href="http://www.squarespace.com/career-openings" style="font-size:17px;padding:10px 0;color:#fff!important;font-weight:bold!important;display:block!important;text-align:center!important;text-decoration:none!important;width:100%!important;border-radius:4px!important;background:#212121!important" target="_blank">See all opportunities </a> </div>
                                                </td>
                                              </tr>
                                              

                                            </tbody></table>
                                            
                                          </td>
                                        </tr>
                                        <tr>
                                          <td style="padding:10px 0;border-collapse:collapse">
                                          </td>
                                        </tr>
                                      </tbody></table>

                                      

                                    </td>
                                  </tr>
                                </tbody></table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="background:#ededed">
                                  <tbody><tr>
                                    <td valign="top" style="border-collapse:collapse;background-color:#ededed;font-size:15px;color:#333333;font-family:Arial;text-align:left">
                                      

                                      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#ffffff">
                                        <tbody><tr>
                                          <td valign="top" style="border-collapse:collapse">
                                            
                                            <table border="0" cellpadding="15" cellspacing="0" width="100%" style="background-color:#ffffff">
                                              <tbody><tr>
                                                <td style="padding:10px 15px 5px 15px;border-bottom:1px solid #dedede;border-collapse:collapse" colspan="2">
                                                  <strong>
                                                    A few updates:
                                                  </strong>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td style="padding:5px 0 0 0;border-collapse:collapse" colspan="2">
                                                </td>
                                              </tr>
                                              <tr>
                                                <td style="border-collapse:collapse;padding:10px 15px!important">
                                                  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#ffffff">
                                                    <tbody><tr>
                                                      <td style="border-collapse:collapse;padding-bottom:2px!important"><a href="http://www.squarespace.com/press/2013/6/25/13-hot-startups-with-inspired-office-design#secondary-pages" style="color:#0096ff!important;font-weight:normal!important;text-decoration:none!important;line-height:1!important" target="_blank">Our office is inspired! </a> <span style="color:#707070;font-size:13px;line-height:1.1">(Mashable)</span> </td>
                                                    </tr>
                                                    <tr>
                                                      <td style="border-collapse:collapse;color:#707070">"When it comes to web design, the simpler the better — <span class="il">Squarespace</span> carried that philosophy to its office, which is simple, minimal and clean. The <span class="il">space</span> is mostly black and white, just like the brand logo, with 16-foot ceilings and glass walls covered in code and sketches. Each of the 131 employees works at a USM desk, while sitting in a Herman Miller Aeron chair.<br>
            <br>
            The office is a place of inspiration, especially the library on the 5th floor that brims with books and magazines that cover topics from programming to design. The company's been in the SoHo <span class="il">space</span> at 459 Broadway — above a yoga studio, to which the team has a free membership — since fall 2010. The office was once home to Devlin &amp; Company, a men's clothing store founded in 1847, so one of <span class="il">Squarespace</span>'s templates, Devlin, pays homage to the <span class="il">space</span>'s roots." </td>
                                                    </tr>
                                                  </tbody></table>
                                                </td>
                                              </tr><tr>
                                                <td style="border-collapse:collapse;padding:10px 15px!important">
                                                  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#ffffff">
                                                    <tbody><tr>
                                                      <td style="border-collapse:collapse;padding-bottom:2px!important"><a href="http://www.squarespace.com/green/" style="color:#0096ff!important;font-weight:normal!important;text-decoration:none!important;line-height:1!important" target="_blank"><span class="il">Squarespace</span> buys 100% of its energy from Wind power</a></td>
                                                    </tr>
                                                    <tr>
                                                      <td style="border-collapse:collapse;color:#707070">Honestly, we think it's kinda cool that everything that we do is powered by the wind. We're also excited about how easy it was to make that switch—we hope more companies will join us!</td>
                                                    </tr>
                                                  </tbody></table>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td style="padding:5px 0 0 0;border-collapse:collapse" colspan="2">
                                                </td>
                                              </tr>
                                            </tbody></table>
                                            
                                          </td>
                                        </tr>
                                        <tr>
                                          <td style="padding:10px 0;border-collapse:collapse;background-color:#ededed">
                                          </td>
                                        </tr>
                                      </tbody></table>

                                      

                                    </td>
                                  </tr>
                                </tbody></table>
                                

                                

                                

                                

                                



                              </td>
                            </tr>
                            <tr>
                              <td align="center" valign="top" style="border-collapse:collapse">
                                
                                <table border="0" cellpadding="10" cellspacing="0" width="100%" style="background-color:#ededed;border-top:0">
                                  <tbody><tr>
                                    <td valign="top" style="border-collapse:collapse">

                                      
                                      <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                        <tbody><tr>
                                          <td valign="top" style="border-collapse:collapse">
                                            <div style="color:#707070;font-family:Arial;font-size:13px;line-height:125%;text-align:center"></div>
                                          </td>
                                        </tr>
                                      
                                      </tbody></table>
                                      

                                    </td>
                                  </tr>
                                </tbody></table>
                                
                              </td>
                            </tr>
                          </tbody></table>
                          <br>
                        </td>
                      </tr>
                    </tbody></table>