@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins.less";
@import "variables.css.less";

#companies{

}

#signup {
  background-color: @tableBackgroundHover;
  h1 {
    margin-top: 20px;
  }
  h1, h2, h3, h4 {
    text-align: center;
  }
  .form-section-header {
    margin: 50px 0 0 0;
    line-height: 1.5;
  }
  textarea {
    height: 80px;
  }
}