@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins.less";
@import "variables.css.less";

#companies{
  background:white;
  padding-top:0;
  .company-form-accent-color {
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .navbar{
    z-index: 3;
    position:relative;
    .navbar-inner{
    }
  }
  #company-info{
    padding:0px 0 0 20px;
    position:relative;
    width:250px;
    z-index: 2;
  }
  #sidebar{
    z-index: 1;
    background:#F2F2F2;
    bottom: 0px;
    position: fixed;
    top: 0px;
    width:290px;
  }
  #masonry{
    position: relative;
    background:white;
    left:310px;
    width:30%;
    > li{
      padding:0;
      border:1px solid #D6D6D6;
      &.photo-wrapper{
        background:white;
        margin:5px 5px 55px 5px;
        .cta{
          border-top:1px solid @grayLighter;
          height:25px;
          padding-top:4px;
          text-align:center;
          &.published{
            background:@linkColor;
            border-top:1px solid  darken(@linkColor, 5%);
            color:white;
            font-size:18px;
            font-weight:bold;
          }
        }
        .info{
          background:white;
          color:@grayLight;
          font-size:11px;
          padding:5px 0 5px 0;
        }
        .photo{
          overflow:hidden;
          position: relative;
          img{
            min-width:100%;
          }
        }
      }
    }
  }
}
.photo-overlay-text {
  position: absolute;
  transition: opacity 0.8s ease-in ;
  opacity: 0;
  color: white;
  top: 50%;
  text-align: center;
  width: 100%;
}
.photo-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top:0;
  left:0;
  transition: background-color 0.6s ease-in;
  &:hover{
    .photo-overlay-text { opacity: 1; }
    background-color: rgba(0,0,0,0.5);
  }
}

#signup {

  background-color: @tableBackgroundHover;
  h1 {
    margin-top: 20px;
  }
  h1, h2, h3, h4 {
    text-align: center;
  }
  textarea {
    height: 80px;
  }
  .radio-label {
    line-height: 20px;
    input[type="radio"] {
      margin: -5px 0 0 3px;
    }
  }
  .control-group-header-label {
    margin-bottom: 0;
    h1, h2, h3 {
      margin-bottom: 0;
    }
  }
  .two-column-checkbox-label {
    margin-left: 0;
  }
}