@import "bootstrap/variables";
@import "bootstrap/mixins.less";
@import "variables.css.less";

#dashboard{
  section.highlight {
    padding: 20px;
    /*.border-radius(0px);*/
  }
  .dashboard-header {
    position: relative;
  }
  .dashboard-header-links {
    a {
      font-family:@headings-font-family;
      font-size:16px;
      position: absolute;
      bottom: 7px;
      right: 0;
      text-align: right;
    }
  }

  #dashboard-right-column {
    padding-left: 25px;
  }
  .rating {
    float: right;
  }
  .detail-text {
    color: @gray-light;
  }
  #awaiting-approval-box {
    padding: 10px 0;
  }

  li.bb-1 {
    border-color: #dedede;
  }
  .inline-radio-label {
    display: inline-block;
    input {
      margin-top: 0;
    }
  }
  #dashboard_index{
    h4{
      margin:0;
      padding-bottom:5px;
    }
    ul{
      padding-bottom:20px;
        a{
          text-decoration:none;
        }
      li{
        font-size:14px;
        padding:7px 0;
      }
      li:hover{
        background:lighten(@gray-lighter, 4%);
      }
    }
    .counter{
      color:@gray-light;
      font-size:14px;
    }
  }
  @media (max-width:570px) {
    #dashboard-right-column {
      padding-left: 0;
    }
    .dashboard-header-links {
      position: absolute;
      bottom:0;
    }
  }
}
