@import "twitter/bootstrap/variables.less";
@import "twitter/bootstrap/mixins.less";
@import "variables.css.less";

/*This form hack needs to be here so rotation sizing works as expected on ios6*/
form{
 overflow: hidden;
}
/*Remove default browser outline focus*/
:focus {
  outline-color: transparent;
  outline-style: none;
}
section {
  &.gray{
    background:@grayLighter;
    form{
      margin-bottom:0;
    }
  }
  .help-block{
    font-size:16px;
  }
  &.highlight{
    background:@yellow;
    padding:10px 10px 20px 10px;
   .border-radius(@borderRadiusLarge);
   p{
    color:@gray;
   }
  }
}

@yellow: #FFF8C2;

#flash-alert{
  color:red;
  font-weight:bold;
  padding:20px;
}
#flash-notice{
  color:green;
  font-weight:bold;
  padding:20px;
}
#infinite{
  height:200px;
  .pagination{
    display:none;
    border-top:1px solid @grayLighter;
    padding:80px 0 0 60%;
   }
 }
#masonry{
  margin:0;
  position:absolute;
  li{
    display:none;
    list-style:none;
    img{
      min-width:100%;
    }
  }
}
#signup, #users, #dashboard {
  .no-text-select;
}
.checkbox-group{
  label{
    color:@grayLight;
    font-size:16px;
    padding-left:20px;
  }
}
.column-center{
  float:none !important;
  margin:0 auto !important;
}
.form-section-header {
  margin: 50px 0 0 0;
  line-height: 1.5;
  text-align: center;
}
.gray{
  color:@gray;
}
.gray-lighter {
  color:@grayLighter;
}
.gray-light {
  color:@grayLight;
}
.help-block{
  &.small{
    color:@gray;
    font-size:12px;
    padding-left:5px;
  }
}
.inline_error{
  color:red;
  line-height:30px;
}
.field_with_errors input{
  border:2px solid red;
}
.no-text-select {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  -o-user-select: none;
  user-select: none;
}
.rating {
  overflow: hidden;
  display: inline-block;
}
.rating-star-fixed {
  display: block;
  width: 16px;
  height: 16px;
  float: right;
  background: url('/assets/star.png') 0 0;
}
.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}
.rating-star,
.rating:hover .rating-star {
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('/assets/star.png') 0 -16px;
}
.rating-input {
    position: absolute;
    left: 0;
    top: -50px;
}
.tiny{
  font-size:11px;
}
.white-background{
  background:white;
  padding:0 20px 0 20px;
}

/* borders */
.bt-1 { border-top: 1px solid #ccc; }
.bb-1 { border-bottom: 1px solid #ccc; }

.tal { text-align: left; }
.tar { text-align: right; }
.tac {text-align: center;}

/* spacing helpers
p,m = padding,margin
a,t,r,b,l,h,v = all,top,right,bottom,left,horizontal,vertical
s,m,l,xl,n = small(5px),medium(10px),large(20px),xlarge(40px),none(0px)
*/

.ptn,.pvn,.pan{padding-top:0px}
.pts,.pvs,.pas{padding-top:5px}
.ptm,.pvm,.pam{padding-top:10px}
.ptl,.pvl,.pal{padding-top:20px}
.ptxl,.pvxl,.paxl{padding-top:40px}
.prn,.phn,.pan{padding-right:0px}
.prs,.phs,.pas{padding-right:5px}
.prm,.phm,.pam{padding-right:10px}
.prl,.phl,.pal{padding-right:20px}
.prxl,.phxl,.paxl{padding-right:40px}
.pbn,.pvn,.pan{padding-bottom:0px}
.pbs,.pvs,.pas{padding-bottom:5px}
.pbm,.pvm,.pam{padding-bottom:10px}
.pbl,.pvl,.pal{padding-bottom:20px}
.pbxl,.pvxl,.paxl{padding-bottom:40px}
.pln,.phn,.pan{padding-left:0px}
.pls,.phs,.pas{padding-left:5px}
.plm,.phm,.pam{padding-left:10px}
.pll,.phl,.pal{padding-left:20px}
.plxl,.phxl,.paxl{padding-left:40px}
.mtn,.mvn,.man{margin-top:0px}
.mts,.mvs,.mas{margin-top:5px}
.mtm,.mvm,.mam{margin-top:10px}
.mtl,.mvl,.mal{margin-top:20px}
.mtxl,.mvxl,.maxl{margin-top:40px}
.mrn,.mhn,.man{margin-right:0px}
.mrs,.mhs,.mas{margin-right:5px}
.mrm,.mhm,.mam{margin-right:10px}
.mrl,.mhl,.mal{margin-right:20px}
.mrxl,.mhxl,.maxl{margin-right:40px}
.mbn,.mvn,.man{margin-bottom:0px}
.mbs,.mvs,.mas{margin-bottom:5px}
.mbm,.mvm,.mam{margin-bottom:10px}
.mbl,.mvl,.mal{margin-bottom:20px}
.mbxl,.mvxl,.maxl{margin-bottom:40px}
.mln,.mhn,.man{margin-left:0px}
.mls,.mhs,.mas{margin-left:5px}
.mlm,.mhm,.mam{margin-left:10px}
.mll,.mhl,.mal{margin-left:20px}
.mlxl,.mhxl,.maxl{margin-left:40px}
.mt100{margin-top:100px}

/* line height */
.lh-15 { line-height: 15px; }
.lh-20 { line-height: 20px; }
.lh-24 { line-height: 24px; }

/* vertically-centered content */
.centered-content-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
  .centered-content {
    display: inline-block;
    vertical-align: middle;
  }
}