@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins.less";
@import "variables.css.less";

#home {
  p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
  }
  section {
    .box-sizing(border-box);
    padding-left: 10px;
    padding-right: 10px;
  }
  .homepage-top {
    margin-top: 60px;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 4px solid #9ad6fd;
    background-image: image-url('homepage_texture.jpg');
    background-repeat: repeat;
    h1 {
      font-size: 52px;
      line-height: 1;
    }
    h2 {
      font-size: 20px;
      line-height: 1.3;
      font-family: @headings-font-family;
      color: #EC430F;
      font-weight: normal;
      margin-top: 30px;
    }
  }
  .homepage-how-we-do--bottom-center {
    padding-top: 95px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .homepage-how-we-do--top-left {
    text-align: right;
    padding-left: 20px;
    padding-right: 70px;
    position: relative;
  }
  .homepage-how-we-do--top-right {
    padding-left: 70px;
    padding-right: 20px;
    text-align: left;
  }
  .homepage-screenshots__arrow1 {
    position: absolute;
  }
  .homepage-screenshots__arrow2 {
    position: absolute;
  }
  .homepage-screenshots__captions{
    padding-left: 20px;
    text-align: left;
    padding-right: 20px;
  }
  #email_email {
    margin-bottom: 0;
    width: 300px;
  }
  .homepage-signup-form {
    margin-bottom: 30px;
    padding-bottom: 22px;
    position: relative;
  }
  .homepage-contact-info__logo, .homepage-contact-info__address {
    display: inline;
    margin-right: 5px;
    img {
      margin-bottom: 5px;
    }
  }
  .homepage-contact-info__address {
    color: #A77F00;
  }
  .homepage-signup-form__submit-button {
    height: 39px;
    width: 120px;
  }
  .homepage-signup-form__message {
    position: absolute;
    bottom:-1px;
    width: 100%;
  }
  .homepage-signup {
    background-image: image-url('homepage_texture.jpg');
    background-repeat: repeat;
    border: 5px solid white;
    border-top-width: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 40px;
    .text-error {
      color:red;
    }
    h3 {
      font-weight: normal;
      line-height: 1.3;
      margin-bottom: 25px;
    }
  }
  .homepage-screenshots__feed{
    position: relative;
    padding-right: 20px;
    text-align: right;
  }
  .homepage-screenshots__feed__frame {
    .box-sizing(border-box);
    background-repeat: no-repeat;
    width: 90%;
    float: right;
    padding: 12% 1% 138% 1%;
    background-image: image-url('homepage_screenshots_feed_frame.jpg');
    background-size: contain;
  }
  .homepage-screenshots__feed__scrollable-div {
    width: 100%;
    height: 355px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .homepage-screenshots__feed__image {
    width: 100%;
  }
  .homepage-screenshots__captions--first {
    position: relative;
    margin-bottom: 180px;
  }
  .homepage_screenshots__devices {
    margin-top: 30px;
  }
  .homepage-screenshots__captions--second {
    position: relative;
  }
  .homepage-screenshots__captions--third {
    margin-top: 100px;
    margin-bottom: 35px;
    p {
      margin-bottom: 0;
    }
  }
  .homepage-how-we-do, .homepage-screenshots {
    h3 {
      font-size: 30px;
      line-height: 1.2;
      font-weight: normal;
      font-family: @headings-font-family;
    }
  }
  .homepage-how-we-do {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
    .homepage-how-we-do--bottom-center {
      h3 {
        font-size: 44px;
      }
    }
  }
  .homepage-screenshots {
    padding-top: 45px;
    background-color: @grayLighter;
    border: 5px solid white;
    h2 {
      font-weight: normal;
      font-size: 44px;
      line-height: 1.1;
      margin-bottom: 75px;
    }
  }
  @media (min-width: 571px) {
    .homepage-how-we-do__arrows {
      position: absolute;
      top: 50px;
      right: -75px;
    }
    .homepage-screenshots__feed__frame {
      margin-bottom: -110%;
    }
    .homepage-screenshots__arrow1 {
      bottom: -95px;
      left: -45px;
    }
    .homepage-screenshots__arrow2 {
      bottom: -75px;
      left: -175px;
    }
    .homepage-how-we-do--bottom-center {
      p {
        padding: 0 150px;
      }
    }
  }
  @media (max-width: 768px) {
    .navbar-inner {
      background-image: image-url('homepage_texture.jpg');
      background-repeat: repeat;
      background-attachment: fixed;
      background-position: 0% 100%;
    }
    .homepage-top {
      margin-top: 0;
    }
  }
  @media (min-width: 571px) and (max-width: 768px) {
    .homepage-screenshots__arrow2 {
      bottom: -5px;
    }
    .homepage-screenshots__captions--first {
      margin-bottom: 90px;
    }
    .homepage-how-we-do, .homepage-screenshots {
      h3 {
        font-size: 28px;
      }
    }
  }
  @media (max-width: 570px) {
    .homepage-screenshots__feed__scrollable-div {
      display:none;
    }
    #email_email {
      width: 100%;
    }
    .homepage-screenshots__feed {
      text-align: center;
      margin-bottom: 50px;
      padding-right: 0;
    }
    .homepage-screenshots__feed__frame {
      width: 100%;
      float: none;
    }
    .homepage-signup {
      margin-bottom: 0;
      h3 {
        font-size: 24px;
      }
    }
    .homepage-signup-form__submit-button {
      width: 100%;
      margin-top: 5px;
    }
    .homepage-how-we-do__arrows {
      margin: 0 auto;
    }
    .homepage-screenshots__captions--first {
      text-align: left;
      margin-bottom: 25px;
    }
    .homepage-screenshots__captions--second {
      text-align: left;
    }
    .homepage-screenshots__captions--third {
      margin-top: 50px;
      text-align: left;
    }
    .homepage_screenshots_devices {
      margin-top: 15px;
      margin-bottom: 30px;
    }
    .homepage-how-we-do, .homepage-screenshots {
      h3 {
        font-size: 24px;
      }
    }
    .homepage-how-we-do {
      .homepage-how-we-do--bottom-center {
        padding-left: 0;
        padding-right: 0;
        h3 {
          font-size: 32px;
        }
      }
    }
    .homepage-screenshots__captions{
      padding-left: 0;
    }
    .homepage-how-we-do--top-left, .homepage-how-we-do--top-right {
      text-align: center;
    }
    .homepage-how-we-do--top-left {
      margin-top: 40px;
      padding-right: 0;
      padding-left: 0;
    }
    .homepage-how-we-do--top-right {
      padding-left: 0;
      padding-right: 0;
      margin-top: 30px;
    }
    .homepage-how-we-do--bottom-center {
      padding-top: 0;
    }
    .homepage-screenshots__arrow1 {
      .rotate(120deg);
      top: -110px;
      left: -5px;
    }
    .homepage-screenshots {
      h2 {
        font-size: 34px;
        margin-top: 0;
        margin-bottom: 50px;
      }
    }
    .navbar-newsletter-link {
      color: @grayLight;
    }
    .nav-collapse {
      background: @accentYellow;
    }
    .homepage-top {
      margin-top: 40px;
      padding-top: 20px;
      padding-bottom: 30px;
      h1 {
        font-size: 28px;
        line-height: 1.1;
      }
      h2 {
        font-size: 18px;
        margin-top: 30px;
      }
    }
    .navbar-newsletter-link-wrapper {
      right: 55px;
      width: auto;
      margin-left: 0;
      margin-right: 20px;
    }
    .navbar-newsletter-link {
      width: 100%;
    }
  }
}
