@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins.less";
@import "variables.css.less";

#home {
  @media (max-width: 570px) {
    .filmstrip-image img {
      left: 0 !important;
      top: 0 !important;
    }
  }
  #homepage-bottom {
    border-top: 1px @grayLight solid;
  }
  #homepage-top {
    text-align: center;
    background-color: white;
  }
  .filmstrip-image {
    height: 0;
    padding-bottom: 32.3%;
    overflow: hidden;
    position: relative;
    border-bottom: 3px solid;
    border-bottom-color: inherit;
    margin: 0.5%;
    width: 32.3%;
    float: left;
    &.landscape img {
      height: 100%;
    }
    &.portrait img {
      width: 100%;
    }
    img {
      max-width: none;
      position: absolute;
    }
  }
  .company-wrapper {
    display: block;
    &:hover {
      background-color: #ddd;
      text-decoration: none;
    }
  }
  .company-name {
    font-size: 24.5px;

  }
  .company-hq, .company-last-updated-time {
    margin-top: 9px;
    color: @grayLight;
  }
  .company-info {
    color: @bodyColor;
    margin: 0.5%;
  }
}
