/*

        Creating a sprite from following images:
        
        app/assets/images/icons/facebook_logo.png (18x18)
        app/assets/images/icons/facebook_logo_gray.png (18x18)
        app/assets/images/icons/foursquare_logo.png (18x18)
        app/assets/images/icons/foursquare_logo_gray.png (18x18)
        app/assets/images/icons/instagram_logo.png (18x18)
        app/assets/images/icons/instagram_logo_gray.png (18x18)
        app/assets/images/icons/location_pin_gray.png (18x18)
        app/assets/images/icons/tumblr_logo.png (18x18)
        app/assets/images/icons/tumblr_logo_gray.png (18x18)

        Output files:
          app/assets/images/icons.png
          app/assets/stylesheets/icons.css.less

        Output size:
          162x18


*/
div.facebook_logo { width: 18px; height: 18px; background: image-url('icons.png') 0px 0px no-repeat; }
div.facebook_logo_gray { width: 18px; height: 18px; background: image-url('icons.png') -18px 0px no-repeat; }
div.foursquare_logo { width: 18px; height: 18px; background: image-url('icons.png') -36px 0px no-repeat; }
div.foursquare_logo_gray { width: 18px; height: 18px; background: image-url('icons.png') -54px 0px no-repeat; }
div.instagram_logo { width: 18px; height: 18px; background: image-url('icons.png') -72px 0px no-repeat; }
div.instagram_logo_gray { width: 18px; height: 18px; background: image-url('icons.png') -90px 0px no-repeat; }
div.location_pin_gray { width: 18px; height: 18px; background: image-url('icons.png') -108px 0px no-repeat; }
div.tumblr_logo { width: 18px; height: 18px; background: image-url('icons.png') -126px 0px no-repeat; }
div.tumblr_logo_gray { width: 18px; height: 18px; background: image-url('icons.png') -144px 0px no-repeat; }
