/*

        Creating a sprite from following images:
        
        app/assets/images/icons/facebook_logo.png (30x30)
        app/assets/images/icons/instagram_logo.png (30x30)

        Output files:
          app/assets/images/icons.png
          app/assets/stylesheets/icons.css.less

        Output size:
          60x30


*/
div.facebook_logo { width: 30px; height: 30px; background: image-url('icons.png') 0px 0px no-repeat; }
div.instagram_logo { width: 30px; height: 30px; background: image-url('icons.png') -30px 0px no-repeat; }
