
@import "bootstrap/variables";
@import "bootstrap/mixins.less";
@import "variables.css.less";

.border-radius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}
#masonry{
  width:100%;
  padding:0;
  li{
    .border-radius(6px);
    background:white;
    border:1px solid #D6D6D6;
    margin-bottom: 15px;
    overflow:hidden;
    width:48%;
    .photo {
      cursor: pointer; 
      cursor: hand; 
      .connection_flag{
        background:#4173af;
        .border-radius(2px);
        padding:1px 5px 1px 4px;
        font-weight:bold;
        font-size: 12px;
        letter-spacing:-1px;
        margin:1px 10px 0 0;
        display: inline-block;
        color:white;
      }
      .connection_flag:hover{
        text-decoration: none;
      }
      .post-info-bar{
   	    color:@gray-light;
  	    padding:8px 0 0 7px;
        .company-logo-small{
          max-width:100px;
          max-height:25px;
        }
  	    .date{
          display:inline-block;
          font-size:11px;
          color:#ccc;
          padding-top:3px;
          margin-right:7px;
  	    }
      }
    }
  }
}
.loader{
  font-family:"gibson-semibold";
  font-size:14px;
  text-align:center;
  margin-top:30px;
  margin-bottom:50px;
}
