@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins.less";


/* Begin custom rules*/
@media (max-width:570px) {
  h1{
    font-size:30px;
    line-height:34px;
  }
  h2{
    font-size:26px;
    line-height:32px;
  }
  #users{
    img{
      &.banner{
        border:none;
        border-bottom:1px solid @gray;
        .border-radius(0);
        box-sizing:border-box;
        margin-top:-50px;
      }
    }
  }
  section{
    &.highlight{
      .border-radius(0);
    }
  }
  .mobile-padding{
    padding:0 10px 0 10px;
  }
  .navbar-fixed-top{
    margin:0;
    .navbar-inner{
      background-image:none;
      background-color:@grayLighter;
    }
    .nav > li > a {
      padding-top:7px;
      font-size:20px;
      color:@gray;
    }
  }
  /*This fixes rotation bug on mobile views that have form fields*/
  .row-fluid .controls-row [class*="span"] + [class*="span"] {
    margin-left:0 !important;
  }
  .well{
    .border-radius(0);
  }
}


