@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins.less";
@import "variables.css.less";

#post{
  .masonry-unpublished{
    width:100%;
    li{
      background:white;
      border:1px solid #D6D6D6;
      .border-radius(4px);
      overflow:hidden;
      width:24%;
      a{
        /*Hide text link in FF*/
        color:white;
      }
      &.photo-wrapper{
        margin:0 0 10px 0;
        .info{
          color:@grayLight;
          font-size:11px;
          padding:6px 0 4px 5px;
          .date{
            padding-left:25px;
          }
        }
        .photo{
          position: relative;
          .photo-overlay-text img {
             min-width: 0;
          }
        }
      }
    }
  }
  .new-post-ribbon-wrapper {
    width: 63px;
    height: 63px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    left: -3px;
    z-index: 5;
  }
  .new-post-ribbon {
    font-weight: bold;
    color: white;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform:    rotate(-45deg);
    -ms-transform:     rotate(-45deg);
    -o-transform:      rotate(-45deg);
    position: relative;
    padding: 2px 0;
    left: -23px;
    top: 10px;
    width: 90px;
    background-color: @accentRed;
    &:before, &:after {
      content: "";
      border-top:   3px solid darken(@accentRed, 10%);
      border-left:  3px solid transparent;
      border-right: 3px solid transparent;
      position:absolute;
      bottom: -3px;
    }
    &:before{ left:0; }
    &:after{ right:0; }
  }
  .photo-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    background-color: rgba(0, 136, 204, 0);
  }
  .photo-overlay-text {
    position: absolute;
    top: 40%;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    z-index: 2;
    opacity: 0;
  }
  .published {
    .photo-overlay {
      background-color: rgba(0, 136, 204, 0.7);
    }
    .photo-overlay-text {
      opacity: 1;
    }
  }
  .unpublished {
    &:hover, &.publishing {
      .photo-overlay {
        background-color: rgba(0, 136, 204, 0.2);
      }
      .photo-overlay-text {
        opacity: 1;
      }
    }
    .photo-overlay {
      transition: background-color 0.3s;
    }
    .photo-overlay-text {
      transition: opacity 0.3s;
    }
  }

}