#post{

  .photo_wrapper{
    overflow:hidden;
    position:relative;
    max-width:225px;
    height:125px;
    background:#ccc;
    margin:5px;
    .btn{
      margin:5px;
      position:absolute;
    }
    img{
      margin-top:-30px;
      min-width:230px;
    }
  }
}