@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins.less";
@import "variables.css.less";

#users {
  b{
    font-size:16px;
    font-family:'gibsonregular';
  }
  label{
    font-size:16px;
    font-family:'gibsonregular';
  }
  #logo{
    width:250px;
  }
  .email-description {
    font-weight: 400;
    li {
      line-height: 1.5;
    }
  }
  #star-save-error {
    line-height: 1;
  }
  .as-input {
    margin-bottom: 10px;
  }
  .checkbox-group {
    padding-left: 20px;
    label { line-height: 30px; }
  }
  .controls .as-selections {
    width: 100%;
    .box-sizing(border-box);
  }
  .form-section-header {
    line-height: 1;
  }
  .rating{
    float: left;
  }
  .skills-control-block .as-selections {
    width: 100%;
  }
  .user-onboarding-form .controls .as-selections {
    width: 100%;
  }
  @media (min-width: 571px) {
    .form-horizontal {
      margin-left: -60px;
      margin-right: 60px;
    }
  }
  @media (max-width: 570px) {
    .mobile-checkbox-group {
      label {
        line-height: 20px;
      }
      input {
        margin-top: 3px;  
      }
    }
    .email-description {
      font-size: 16px;
    }
  }
}
