@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins.less";
@import "variables.css.less";

#users{
  img{
    &.banner{
      border:10px solid black;
      .border-radius(@borderRadiusLarge);
      box-sizing:border-box;
      margin-top:-50px;
    }
  }
  .checkbox-group {
    padding-left: 10px;
    label { line-height: 35px; }
  }
}
