@accentColor:#fe3c38;
@linkColor: @accentColor;
@brand-primary:@accentColor;
@accentRed: #fe3c38;
@bodyColor: #333;
@bodyBackground:#f3f3f3;
@accentYellow:#fff47b;
@yellowDark:#AB8305;
@headings-font-family: 'gibson-semibold', "Helvetica Neue", Helvetica, Arial, sans-serif;
@sansFontFamily: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
@baseBorderRadius:3;
@baseLineHeight: 21px;
@borderRadiusLarge:5;
@borderRadiusSmall:2;
@paddingSmall:2;
@fontSizeSmall:11;
@paddingMini:2px;
@fontSizeMini:2px;

.border-radius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}
