!!!
%html
  %head
    = render 'shared/head'

  %body{:id => controller_name, :class => referrer }
    = render 'shared/navbar'
    .content-with-nav
      = yield
    = javascript_include_tag "application"