!!!
%html
  %head
    %title inner circle - build your talent-community
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
    /[if IE]
      %script{src:"http://html5shim.googlecode.com/svn/trunk/html5.js"}
    %meta{content:"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", name:"viewport"}

  %body{:id => controller_name }
    = yield
    = javascript_include_tag "application"